.Home{
  margin: 0;
  padding: 15px 10px;
  background-image: url('./images/bg.jpg');
}

.table{
  margin-left: auto;
  margin-right: auto;
}

.image img{
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.para p{
  color: white;
  padding-left: 40px;
}
